<div class="bg-light p-5 text-center">
  <h4>Created by Kevin</h4>
  <h5>📞 010-3131-3131</h5>
  <button class="btn btn-outline-primary" style="font-size: 14px;">고객센터</button>
  <button class="btn btn-outline-success" style="font-size: 14px;">오시는길</button>
</div>
</body>
</html>