<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    .err{
        color: blue;
        background-color: aqua;
        font-size: 50px;
    }
</style>

</head>
<body class="err">
    잘 못 들어오셨습니다.
</body>
</html>