{{> /layout/header}}

<div class="container p-5">
    <div class>
        <h2 class="mb-4">인덱스 홈 화면</h2>
    </div>

    {{#boardList}}
    <div class="card mb-3">
        
        <div class="card-body">
            <h4 class="card-title mb-3">{{title}}</h4>
            <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
        </div>

    </div>
    {{/boardList}}

     <!-- disabled = 입력 못 하게 흑백처리 -->
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">이전</a></li>
        <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{nextPage}}">다음</a></li>
    </ul>

</div>

{{> /layout/footer}}